.mzs-game-settings
{
    width: 100%;
    height: 100%;
    background-image: url("/static/image/menu/background.jpg");
    background-size: 100% 100%;
    user-select: none;
}

.mzs-game-settings-login
{
    height: 41vh;
    width: 20vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.mzs-game-settings-title
{
    color: white;
    font-size: 3vh;
    text-align: center;
    padding-top: 2vh;
    margin-bottom: 2vh;
}

.mzs-game-settings-username
{
    display: block;
    height: 7vh;
}

.mzs-game-settings-password
{
    display: block;
    height: 7vh;
}

.mzs-game-settings-submit
{
    display: block;
    height: 7vh;
}

.mzs-game-settings-acwing
{
    display: block;
    height: 7vh;
}

.mzs-game-settings-item
{
    width: 100%;
    height: 100%;
}

.mzs-game-settings-item > input
{
    width: 90%;
    line-height: 3vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mzs-game-settings-item > button
{
    color: white;
    width: 90%;
    line-height: 3vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    border-radius: 5px;
}

.mzs-game-settings-error-message
{
    color: red;
    font-size: 0.8vh;
    display: inline;
    float: left;
    padding-left: 1vw;
}

.mzs-game-settings-option
{
    color: white;
    font-size: 2vh;
    display: inline;
    float: right;
    padding-right: 1vw;
    cursor: pointer;
}

.mzs-game-settings-acwing > img
{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: block;
}

.mzs-game-settings-acwing > div
{
    color: white;
    font-size: 1.5vh;
    text-align: center;
    display: block;
}

.mzs-game-settings-register
{
    height: 49vh;
    width: 20vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}



.mzs-game-menu
{
    width: 100%;
    height: 100%;
    background-image: url("/static/image/menu/background.jpg");
    background-size: 100% 100%;
    user-select: none;
}

.mzs-game-menu-field
{
    width: 20vw;
    position: relative;
    top: 40%;
    left: 20%;
}

.mzs-game-menu-field-item 
{
    color: white;
    height: 6vh;
    width: 18vw;
    font-size: 4vh;
    font-style: italic;
    padding: 2vh;
    text-align: center;
    background-color: rgba(39,21,28, 0.6);
    border-radius: 10px; /* 圆角yyds!!! */
    letter-spacing: 0.5vw;
    cursor: pointer;
}

.mzs-game-menu-field-item:hover 
{
    transform: scale(1.2);
    transition: 100ms;
}

.mzs-game-playground
{
    width: 100%;
    height: 100%;
    user-select: none;
    background: grey;
}

.mzs-game-playground > canvas
{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

